{% extends 'base.html' %}
{% load static %}

{% block meta_description %}Платформа для создания и прохождения тестов UserTests{% endblock %}

{% block title %}UserTests{% endblock %}

{% block page_style %}
    {% static 'main/css/static_test_lists_style.css' %}
{% endblock %}

{% block content %}
<div class="content container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-12 col-xl-3 tests-list">
            <h2>
                <a href="">НОВЫЕ ТЕСТЫ</a>
            </h2>

            <div class="table">
                <div class="table-row">
                    <div class="table-cell">
                        <div class="t-wrapper"><a class="test">Тест на тип темперамента</a></div>
                        <div class="t-wrapper"><a class="test">Парадигмы программирования</a></div>
                    </div>
                    <div class="table-cell">
                        <div class="t-wrapper"><a class="test">Сети и телекоммуникации</a></div>
                        <div class="t-wrapper"><a class="test">Информационные системы и технологии</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 col-xl-3 tests-list">
            <h2>
                <a href="">ПОПУЛЯРНЫЕ ТЕСТЫ</a>
            </h2>
            <div class="table">
                <div class="table-row">
                    <div class="table-cell">
                        <div class="t-wrapper"><a class="test">Анатомия человека</a></div>
                        <div class="t-wrapper"><a class="test">Тест по географии</a></div>
                        <div class="t-wrapper"><a class="test">Тест на тип темперамента</a></div>
                        <div class="t-wrapper"><a class="test">Парадигмы программирования</a></div>
                    </div>
                    <div class="table-cell">
                        <div class="t-wrapper"><a class="test">Философия буддизма</a></div>
                        <div class="t-wrapper"><a class="test">Тест по кулинарии</a></div>
                        <div class="t-wrapper"><a class="test">Сети и телекоммуникации</a></div>
                        <div class="t-wrapper"><a class="test">Информационные системы и технологии</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 col-xl-3 tests-list">
            <h2>
                <a href="">ТЕСТЫ ПО КАТЕГОРИЯМ</a>
            </h2>
            <div>
                <a class="category">Обществознание<span class="badge">(XXX шт.)</span></a>
                <a class="category">Базы данных<span class="badge">(XXX шт.)</span></a>
                <a class="category">Психология<span class="badge">(XXX шт.)</span></a>
                <a class="category">Биология<span class="badge">(XXX шт.)</span></a>
                <a class="category">Иностранные языки<span class="badge">(XXX шт.)</span></a>
                <a class="category">История<span class="badge">(XXX шт.)</span></a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 col-xl-3 tests-list">
            <h2>
                <a href="">ТЕСТЫ ПО ТЕГАМ</a>
            </h2>
            <div>
                <a class="test">Образовательные<span class="badge">(XXX шт.)</span></a>
                <a class="test">Небольшие<span class="badge">(XXX шт.)</span></a>
                <a class="test">Большие<span class="badge">(XXX шт.)</span></a>
                <a class="test">Отношения<span class="badge">(XXX шт.)</span></a>
                <a class="test">Для школьников<span class="badge">(XXX шт.)</span></a>
                <a class="test">Для студентов<span class="badge">(XXX шт.)</span></a>
                <a class="test">Развлекательные<span class="badge">(XXX шт.)</span></a>
                <a class="test">На 10-15 минут<span class="badge">(XXX шт.)</span></a>
                <a class="test">На 20-30 минут<span class="badge">(XXX шт.)</span></a>
                <a class="test">С лимитом времени<span class="badge">(XXX шт.)</span></a>
                <a class="test">Без лимита времени<span class="badge">(XXX шт.)</span></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
