@charset 'utf-8'

$intface-panel-bg-color: #e5f8f1
$def-text-color: darken($intface-panel-bg-color, 80%)
$links-color: #000e5c
$intface-panel-secondary-color: saturate(darken($intface-panel-bg-color, 74%), 20%)
$header-font: 'Neucha', cursive

// СБРОС СВОЙСТВ
*
  color: $def-text-color
  font-family: 'Cuprum', sans-serif
  list-style: none
  margin: 0
  padding: 0
  text-decoration: none

html
  font-size: 15px

button
  &[type='submit']
    color: $def-text-color

a
  &:hover,
  &:active,
  &:visited,
  &:link
    color: $def-text-color
    text-decoration: none

// ЗАГОЛОВКИ
h1,
h2,
h3,
h4,
h5,
h6
  font-family: $header-font
  margin-top: 2px
  text-align: center

// ДЛЯ РАЗНЫХ ЭЛЕМЕНТОВ
.table
  display: table
  margin: 0
  padding: 0
  border-spacing: 0
  .table-row
    display: table-row
  .table-cell
    display: table-cell

// КНОПКИ
.btn
  border: 1px $intface-panel-secondary-color solid
  margin: 2px
  padding: 5px
  transition: all .3s
  white-space: nowrap
  background-color: white
  &:hover
    border: 1px $intface-panel-secondary-color solid
    background-color: desaturate($intface-panel-bg-color, 20%)
    border-radius: 10px

// ФОРМЫ
input.form-control
  padding: .8rem .3rem
  height: calc(1em + .5rem + 2px)
  line-height: 1.2
  border-color: $intface-panel-secondary-color
  &:focus
    box-shadow: inset 0 0 0 2px lighten($intface-panel-secondary-color, 10%)
  &+br
    display: none

.badge
  cursor: default
  color: #fff
  background-color: $intface-panel-secondary-color
  font-size: .8rem
  margin-right: 5px

// ШАПКА
$avatar-width: 90px
$avatar-height: 90px

header
  background-color: $intface-panel-bg-color
  border: 1px solid $intface-panel-secondary-color
  border-radius: 0 0 20px 20px
  box-shadow: 0 4px 2px 0 #777777
  left: 0
  position: fixed
  top: 0
  width: 100%
  z-index: 10

  .row
    padding: 0

  .header-element
    margin: 0
    overflow: auto
    padding: 0 4px

  // background-color: rgba(0, 0, 0, 0.1)
  .header-element-1
    padding-left: 15px
    text-align: center
    *
      color: $links-color
    .logo
      animation-duration: 2s
      font-family: $header-font
      font-size: 2.7rem
      margin-bottom: -10px
      margin-top: -5px
    p
      font-size: 150%
      margin-bottom: 0
      line-height: 1.2
      font-family: $header-font
    &:hover
      .logo
        animation-name: headShake

  .header-element-2
    h3
      margin: 5px 0 0 0
    input
      &[type='search']
        width: 100%
    .search-buttons-div
      padding: 2px
      .table-cell
        &:first-child,
        &:last-child
          margin: 2px
          width: 49%
        .btn
          width: 100%

  .header-element-3
    img
      height: $avatar-height
      margin: 0
      width: $avatar-width
    .user-container
      width: auto
      .avatar-container
        width: $avatar-width

  .header-element-4
    .all-buttons-container
      padding: 2px
      .system-users-button-container
        margin: 2px
        margin-top: 0
        min-width: 151px
    .table
      border-spacing: 2px
      margin: 0

    .table-cell
      input
        width: 100%
      label
        margin-bottom: 0
        margin-top: 0
      &:nth-of-type(1)
        width: 50%
      &:nth-of-type(2)
        width: 50%
    .btn
      margin: 0
      width: 100%

// Подвал
footer
  position: absolute
  bottom: 0
  left: 0
  border-radius: 12px 12px 0 0
  border: 2px solid $intface-panel-secondary-color
  box-shadow: 0 -2px 3px 0 #777
  background-color: $intface-panel-bg-color
  width: 100%
  z-index: 10
  position: fixed
  .badge
    font-size: 1.2rem
    margin: 2px

// КОНТЕНТ
.content
  a,
  .badge
    cursor: pointer
  .tests-list h2 a
    font-family: inherit
  a.test:hover, a.category:hover, h2:hover a
    transition: all ease .2s
    font-weight: bold
    color: $links-color
  a.test:hover .badge, a.category:hover .badge
    transition: all ease .2s
    background-color: $links-color
  ul.pagination
    margin: 8px 0 10px 0
    width: auto
    justify-content: center

// АДАПТИВ
@media (min-width: 0) and (max-width: 767px)
  .content
    padding-top: 115px
    padding-bottom: 150px
    .tests-list:not(:last-of-type)
      border-style: none none dashed
      border-bottom: 1px dashed lighten($intface-panel-secondary-color, 20%)
  .header-element
    border-style: none
  .header-element-2
    border-right: 1px dashed $intface-panel-secondary-color

@media (min-width: 768px) and (max-width: 991px)
  .content
    padding-top: 115px
    padding-bottom: 0
    .tests-list
      border-style: none
      &:nth-of-type(1),
      &:nth-of-type(2)
        border-bottom: 1px dashed lighten($intface-panel-secondary-color, 20%)
      &:nth-of-type(1),
      &:nth-of-type(3)
        border-right: 1px dashed lighten($intface-panel-secondary-color, 20%)
  .header-element
    border-style: none
  .header-element-2
    border-right: 1px dashed $intface-panel-secondary-color

@media (min-width: 992px) and (max-width: 1199px)
  .content
    padding-top: 115px
    padding-bottom: 0
    .tests-list
      border-style: none
      &:nth-of-type(1),
      &:nth-of-type(2)
        border-bottom: 1px dashed lighten($intface-panel-secondary-color, 20%)
      &:nth-of-type(1),
      &:nth-of-type(3)
        border-right: 1px dashed lighten($intface-panel-secondary-color, 20%)
  .header-element
    border-style: none
  .header-element:not(:last-of-type)
    border-right: 1px dashed $intface-panel-secondary-color

@media (min-width: 1200px)
  .content
    padding-top: 120px
    padding-bottom: 0
    .tests-list:not(:last-of-type)
      border-right: 1px dashed lighten($intface-panel-secondary-color, 20%)
  .header-element
    border-style: none
  .header-element:not(:last-of-type)
    border-right: 1px dashed $intface-panel-secondary-color
